/**************************************************
 ***   Album   ***
 **************************************************/
.album div.cover {
    float: left;
    margin: 10px;
    margin-right: 20px;
}

.album div.desc {
    height: 150px;
    min-height: 150px;
}

.album .title {
    font-weight: bold;
    font-size: 0.9em;
}

.album p.desc {
    margin-top: 2em;
}

.album a {
    float: left;
    font-size: 0.6em;
    background-color: #DC143C;
    color: white;
    padding: 0 1px;
    border: 2px outset #DC143C;
    margin-right: 2px;
}