html {
    width: 100%;
    height: 100%;   /* of the browser window */
}

.wrap {
    position: relative;
    height: auto;  /* IE6 */
    min-height: 100%;

    margin: 0;
    float: left;    /* without float there would be space on top */
    width: 100%;    /* ensure 100% width when floated */
    min-width: 760px;

    background: #FFF6FF url('../pic/bg.jpg') no-repeat center center;
    font-family: Verdana, SimSun, serif;
    color: #000;

/*
	background-color: #FAF9F5;
    padding: 0;
*/
}

.container, .footer {
	width: 70%;
    min-width: 760px;
    max-width: 860px;
}

.container {
    height: 100%;
	margin: 0 auto;
	padding: 0 0 80px;    /* bottome padding for footer */
}

.container p {
    font-size: 0.8em;
}  

a  {text-decoration: none;}

#header {
    color: #000; /* #ca0000 */
    margin: 0;
    padding: 10px 20px;
}

h1 {
    font-family: "Monotype Corsiva", Verdana, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", serif; 
}
/**************************************************
 ***   Navigation Bar  ***
 **************************************************/
.nav {
    list-style-type: none;
    text-align: center;
}

.nav a {
    display: block;
    text-decoration:none;
}

#navigation {
    float: right;
    padding: 20px 20px 60px;
    margin: 0 10px;

    font-family: Verdana, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", serif; 
    font-size: 1em;
    word-spacing: 2px;
}

#navigation a {
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#navigation a:hover, a:focus {
/*
    color: #ca0000;
*/
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#navigation .parallelogram {
    background-color: #DC143C;
}
#navigation .parallelogram:before, .nav .parallelogram:after  {
    border-bottom-color: #DC143C;
    border-top-color: #DC143C;
}

#navigation li {
    margin-bottom: 1px;
    min-width: 8em;
}

/**************************************************
 ***   Content   ***
 **************************************************/
.content{
    padding-top: 20px;
    padding-bottom: 60px; /*重要！给footer预留的空间*/
    
    width: 680px;
    max-width: 75%;
    float: left;
}  

.article {
    padding: 20px;
    margin-left: 5px;
    margin: 0 0 20px 5px;
    background: rgba(255, 240, 240, 0.7);
}

#soon {
    margin-left: 0;
    background: transparent;
}
/**************************************************
 ***   Footer   ***
 **************************************************/
.footer
{
    position: absolute; /* to body, which is the nearest "relative" */
    bottom: 0;
    height: 60px;          /*footer的高度一定要是固定值*/

    color: white;
    font-size: 0.8em;
/*
    width: 860px;

    font-weight: lighter;
    background-color: black;
*/
}

.footer  a {
    color: white;
/*
    text-shadow: 1px 1px 1px black;
*/
}

.footer a:hover, a:focus {
    color: black;
}

.footer ul {
    float: right;
    padding-right: 20px;
}
.footer li {
    display: inline;
    float: left;
    border-left: 1px solid white;
    padding: 0 4px;
}
.footer li:first-child {
    border-left: 0;
}
    
/**************************************************
 ***   Shapes   ***
 *
 * Usage:
 * override the colors and/or lengthes in specific:
 * .{background-color; color;}
 * .: {border-xxx-color;}
 **************************************************/
.parallelogram {
    line-height: 2em;
    background-color: yellow;  /* to use the */
    position: relative;
    color: black;
}
.parallelogram:before {
	border-bottom: 2em solid yellow;
	border-left: 1em solid transparent;

    content:"";
    position: absolute;
    right: 100%;
    top: 0;
}
.parallelogram:after {
	border-top: 2em solid yellow;
	border-right: 1em solid transparent;

    content:"";
    position: absolute;
    left: 100%;
    top: 0;
}

